:root {
  --font-body: Poppins, sans-serif;
  --font-headline: Haettenschweiler, "Arial Narrow Bold", sans-serif;
  /* colors */
  --primary-color: #347bf6;
  --secondary-color: #cb444a;
  --tertiary-color: #747a8b;
  --light-grey: #d0d0d0;
  --lighter-grey: #aeabaa;
  --dark-grey: #222529;
  --white: #fff;

  /* sizes */
  --smaller-font: 0.625rem;
  --small-font: 0.875em;
  --default-font: 1rem;
  --large-font: 1.2em;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: var(--font-body);
  font-size: var(--font-base);
  color: var(--dark-grey);
}

.page-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.phone-card {
  max-height: 560px;
  max-width: 720px;
  height: 100%;
  width: 80%;
  background-color: var(--light-grey);
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  gap: 2rem;
}

.card-header img {
  width: 36px;
  height: 36px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: unset;
}

.card-header {
  display: flex;
  gap: 16px;
  align-items: center;
}

button {
  display: flex;
  gap: 8px;
  align-items: center;
  border: none;
  outline: none;
  font-size: var(--default-font);
  height: fit-content;
  padding: 0.5rem 1rem;
  border-radius: 10px;
}

.title-container button {
  background: var(--primary-color);
  color: var(--white);
}

button img {
  fill: var(--white);
}

.page-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

.title-container,
.search-bar {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-input {
  width: 100%;
  height: 2.25rem;
  border: 1px solid var(--lighter-grey);
}

.search-bar {
  position: relative;
}

.search-bar img {
  position: absolute;
  left: 8px;
}

input {
  padding-left: 2.25rem;
  outline: none;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  overflow-y: auto;
}

/* Card */
.card {
  width: 100%;
  background: var(--white);
  padding: 0.5rem 1rem;
  border-bottom: 1px solid var(--lighter-grey);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.contact-number {
  display: flex;
  gap: 0.25rem;
}
.contact-number img {
  width: 16px;
  height: 16px;
}
.contact-number span {
  font-size: var(--small-font);
  color: var(--dark-grey);
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
}
.input-container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.input-container input {
  height: 2.25rem;
  width: 100%;
  border: 1px solid var(--light-grey);
  padding-left: 1rem;
}

.input-container label {
  font-size: var(--small-font);
}

.primary-btn {
  background: var(--primary-color);
  color: var(--white);
}

.button-container {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.no-bg-btn {
  background: transparent;
}

button {
  cursor: pointer;
}

.alert-btn {
  background: var(--secondary-color);
  color: var(--white);
}
